html {
  max-width: 100%;
}

body {
    min-height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
    background-color:#ffffff;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color:#ffffff;
}

@media (min-width: 576px) {
        .container {
      max-width: 540px;
    }
  }
  @media (min-width: 768px) {
        .container {
      max-width: 720px;
    }
  }
  @media (min-width: 992px) {
        .container {
      max-width: 960px;
    }
  }
  @media (min-width: 1200px) {
        .container {
      max-width: 1140px;
    }
  }

.row {
    flex-direction: row;
    margin-left: -15px;
    margin-right: -15px;
}

.col-sm-12, .col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7, .col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.m-auto {
    margin: auto; 
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: white;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
  }

  .hot-border {
    border: 1px darkred;
    border-style: solid;
    border-radius: 0.25rem;
  }

  .cool-border {
    border: 1px deepskyblue;
    border-style: solid;
    border-radius: 0.25rem;
    
  }

  .margin-top {
    margin-top: 3rem;
  }

  .form-group {
    margin-top: 2rem;
    margin-right: 1rem;
  }

  button {
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    background-color: #c0150f;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .col-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  
  .col-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  
  .col-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  
  .col-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  
  .col-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  
  .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  
  .col-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  
  .col-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  
  .col-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  
  .col-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  
  .col-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  
  .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  img {
    max-width: 50px;
    max-height: 25px;
  }