body {
    min-height: 100vh;
    background-color: dimgrey;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: dimgrey;
}

@media (min-width: 576px) {
        .container {
      max-width: 540px;
    }
  }
  @media (min-width: 768px) {
        .container {
      max-width: 720px;
    }
  }
  @media (min-width: 992px) {
        .container {
      max-width: 960px;
    }
  }
  @media (min-width: 1200px) {
        .container {
      max-width: 1140px;
    }
  }

.row {
    display: flex;
    flex-direction: row;
    margin-left: -15px;
    margin-right: -15px;
}

.col-sm-12, .col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7, .col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.m-auto {
    margin: auto; 
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: white;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
  }

  .hot-border {
    border: 1px darkred;
    border-style: solid;
    border-radius: 0.25rem;
  }

  .cool-border {
    border: 1px deepskyblue;
    border-style: solid;
    border-radius: 0.25rem;
    
  }

  .margin-top {
    margin-top: 3rem;
  }

  .form-group {
    margin-top: 2rem;
    margin-right: 1rem;
  }